body{
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px; 
}

#introdiv{

    margin: 20px;
    padding: 20px;
    background-color: lightslategrey;
}

#topbanner{
  color: #f2f2f2;
  background-color: #212938;
  position: sticky;
  top: 0;
  margin: 0%;
  padding:10px;
  width: max-content;
  display: flex;

}
