body{
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px; 
}

h2{
  margin: 20px;
}

#introdiv{

    margin: 20px;
    padding: 20px;
    max-width: 60%;
    background-color: lightslategrey;
}

#topbanner {
  color: #f2f2f2;
  background-color: #212938;
  position: sticky;
  top: 0;
  margin: 0;       /* Remove default margins */
  padding: 10px;
  width: 100%;     /* Full width */
  display: flex;
  box-sizing: border-box; /* Include padding in width calculation */
  justify-content: center; /* Centers flex items */



}
